#title1 {
  color: purple;
}

#title2 {
  color: green;
}

#weather {
  color: red;
  /* 굵은 글씨 */
  font-weight: bold;
}

#location {
  /* 굵은 글씨 */
  font-weight: bold;
}

#notice {
  color: blue;
  /* 굵은 글씨 */
  font-weight: bold;
}
